body {
    margin: 0;

    background: #FFF;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* Page */

.page {
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
}

/* Header */

.header {
    display: flex;
    width: 100%;
    height: 137px;
    padding: 40px 164px 40px 182px;
}

.header-title {
    display: flex;
    width: 118px;
    height: 57px;
}

.header-logo {
    width: 23px;
    height: 57px;
}

.header-logo-part1 {
    position: absolute;
    width: 15px;
    height: 33px;
    margin: 12px 0 12px 8px;

    background-color: #124F48;
    border-radius: 0 4px 3px 3px;
    transform: matrix(1, 0, 0, -1, 0, 0);

}

.header-logo-part2 {
    position: absolute;
    width: 17px;
    height: 23px;
    margin: 17px 0;

    background-color: #FF823B;
    border-radius: 3px 3px 0 2px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.header-logo-part3 {
    position: absolute;
    width: 11px;
    height: 11px;
    margin: 23px 0 23px 3px;

    background-color: #124F48;
    border-radius: 100%;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.header-name {
    width: 90px;
    height: 57px;
    margin-left: 5px;
    padding: 7px 0 8px 0;
}

.header-name h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;  

    color: #124F48;
}

.header-nav {
    width: 463px;
    height: 57px;
    margin-left: 150px;
    padding: 19px 0;
}

.header-nav a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-decoration: none;
    color: #464646;    
}

.header-nav a + a {
    margin-left: 62px;
}

.header-button {
    display: flex;
    width: 128px;
    height: 57px;
    margin-left: auto;
    margin-right: 0;
    padding: 18px 39px;

    background: #124F48;
    border-radius: 31.5px;
    align-items: center;
}

.header-button a {
    display: block;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-decoration: none;

    color: #FFFFFF;
}

/* Content */

.content {
    width: 1319px;
    margin: 30px auto;
}


/* Hero */

.hero {
    width: 1319px;
    height: 724px;

    background: #E9FBF9;
    border-radius: 30px;
}

.hero-content {
    width: 691px;
    height: 724px;
    padding: 74px 0 106px 121px;
}

.hero-text-part1 {
    display: flex;
    width: 119px;
    height: 40px;
    margin-bottom: 30px;
    padding: 4px 21px;

    background: #FFFFFF;
    border: 1px solid #F2FAF9;
    border-radius: 4px;
    align-items: center;
}

.hero-text-part1-p {
    width: 75px;
    height: 16px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;

    color: #FF6107;
}

.hero-text-part2 {
    width: 570px;
    height: 251px;
    margin-bottom: 31px;

    background-color: #E9FBF9;
}

.hero-text-part2-p {
    width: 570px;
    height: 251px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;

    color: #021D1A;
}

.hero-text-part3 {
    width: 428px;
    height: 90px;
    margin-bottom: 51px;

    background-color: #E9FBF9;
}

.hero-text-part3-p {
    width: 428px;
    height: 90px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #464646;
}

.hero-buttons {
    display: flex;
    width: 404px;
    height: 57px;
}

.hero-button1 {
    display: flex;
    width: 180px;
    height: 57px;
    margin-right: 55px;
    padding: 18px 38px;

    background: #FF823B;
    border-radius: 31.5px;
    align-items: center;
}

.hero-button1-link {
    display: block;
    width: 104px;
    height: 21px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-decoration: none;

    color: #FFFFFF;
}

.hero-button2 {
    display: flex;
    width: 39px;
    height: 39px;
    margin: 9px 0;
    padding: 12px;

    background-color: #FFF;
    border-radius: 100%;
    box-shadow: 0px 0px 24px #D6E2E1;
    align-items: center;
}

.hero-button2-icon {
    width: 15px;
    height: 15px;

    background: #FF823B;
    border-radius: 1px;
    transform: rotate(90deg);
}

.hero-button3 {
    display: flex;
    width: 115px;
    height: 21px;
    margin: 18px 0 18px auto;

    background-color: #E9FBF9;
    align-items: center;
}

.hero-button3-link {
    display: block;
    width: 115px;
    height: 17px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-decoration: none;

    color: #FF823B;
}








